div
	header.header
		a(href="https://es.pinterest.com/moniquebedo/" target="_blank")
			span.icon-pinterest
		a(href="https://www.facebook.com/monique.bedoya" target="_blank")
			span.icon-facebook
		a(href="https://www.instagram.com/moniquebedo/" target="_blank")
			span.icon-instagram.diferent-font
		a(href="https://moniquebedo.wordpress.com/" target="_blank")
			span.icon-wordpress.diferent-font
				
	div.ImgBackground
		div.ImgBackground-scroll
			img(src="images/img1.jpg" class="ImgBackground-img")
			img(src="images/img2.jpg" class="ImgBackground-img")
			img(src="images/img3.jpg" class="ImgBackground-img")
			img(src="images/img4.jpg" class="ImgBackground-img")
			img(src="images/img5.jpg" class="ImgBackground-img")
			img(src="images/img6.jpg" class="ImgBackground-img")
			img(src="images/img1.jpg" class="ImgBackground-img")
			img(src="images/img2.jpg" class="ImgBackground-img")
			img(src="images/img3.jpg" class="ImgBackground-img")
			img(src="images/img4.jpg" class="ImgBackground-img")
			img(src="images/img5.jpg" class="ImgBackground-img")
			img(src="images/img6.jpg" class="ImgBackground-img")
	footer.footer
		div.footer-division © 2016 Derechos reservados MONIQUEBEDO
		div.footer-logo.footer-division
			img(src="images/logo_moniquebedo.png") 
